#部署的链的rpc地址
PRIVATE_URL=
@私钥
PRIVATE_KEY=
#如果需要verity，那就需要填写，否则不用
ETHERS_API_HARDHAT_KEY=
#本地私链的私钥
PRIVATE_KEY_LOCAL=
#如果需要就写，不需要把hardhat.config.js/helper-hardhat-config.js中的相关ganache内容给注释掉
PRIVATE_KEY_GANACHE=
##https://pro.coinmarketcap.com/account,获取gas对应的美元价格,这个是reporter需要用的，计算gas所花费的对应货币的值
COINMARKETCAP_API_KEY=